<footer>
  <ul class = "footer-group footer-group-1">
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>    
  </ul>
    <ul class = "footer-group footer-group-2">
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>    
  </ul>
    <ul class = "footer-group footer-group-3">
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>    
  </ul>
    <ul class = "footer-group footer-group-4">
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>
    <li class = "footer-item">Footer Item</li>    
  </ul>
</footer>