<div class="launch-side-navbar-container">
  <app-side-navbar></app-side-navbar>
  <div class="launch-container mat-typography">
    <div *ngFor="let launch of launchList" class="launch">
      <md-card class="launch-card" id={{launch.name}}>
        <md-card-header>
          <md-card-title>
            <div md-card-avatar>
              <img class="avatar-image" src={{launch.rocket.imageURL}} alt="">
            </div>
            <h2 class = "mat-h2">{{launch.name}}</h2>
            <div>&nbsp;</div>
          </md-card-title>
          <md-card-subtitle class = "md-headline">Scheduled to launch on {{launch.windowStart}} near {{launch.location.name}}</md-card-subtitle>
        </md-card-header>
        <div class="rocket-image" [ngStyle]="{ 'background-image': 'url(' + launch.rocket.imageURL + ')'}"></div>
        <md-card-content>
          <div *ngFor="let mission of launch.missions">
            <h4 class="mat-h4"> Mission Type: {{mission.typeName}} Mission Name: {{mission.name}}</h4>
            <div class="md-body-1">Mission Description: {{mission.description}}</div>
          </div>
        </md-card-content>
        <div class="button-group"> 
          <button class="md-card-action" md-raised-button color="primary">
            <md-icon>notifications none</md-icon>
          </button>
          <a class="md-card-action" *ngIf="launch.streamUrls.length > 0" href="{{launch.streamUrls}}">
            <button md-raised-button color="accent"><md-icon>tv live</md-icon></button>
          </a>
          <button class="md-card-action" md-raised-button color="primary"><md-icon>share</md-icon></button>
        </div>
      </md-card>
    </div>
  </div>
  <div class = "fill">&nbsp;</div>
</div>