* {
    // color: red;
}

.launch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    line-height: 1.5;
    margin-left: 20px;
    margin-top: 20px;
}

.launch-card{
    width: 70vw;
    margin-bottom: 20px;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rocket-image {
    height: 0;
    padding-bottom: 35%; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}