* {
    // color: red;
}

a {
    text-decoration: none;
}

.fill {
    width: 0;
    margin-top: 100px; 
}
.launch-side-navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.launch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    line-height: 1.5;
    margin-top: 100px;
}

.launch-card{
    text-align: center;
    width: 60vw;
    margin-bottom: 20px;
}

md-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

md-card-title {
    display: flex;
    justify-content: space-between;
}

// md-card-actions {
//     display: flex;
//     justify-content: flex-end;
//     // background-color: red;
// }
// .md-card-action {
//     margin-left: 0px;
//     margin-right: 0px;
// }
.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rocket-image {
    height: 0;
    padding-bottom: 35%; 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

